<div id="footer">
  <div class="row align-middle">
    <div class="small-12 medium-4 columns">
      <p>Last updated: {{ site.time | date: '%d/%m/%Y %H:%M %Z'}}<br />View the source code on <a href="https://github.com/Eelviny/eelviny.me" target="_blank" title="View on Github"><i class="fa fa-github"></i> Github</a></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p class="text-center">
        {% for nav in site.data.nav %}         
          <a {% if nav.section == page.section %}href="#menu-bar" data-smooth-scroll{% else %}href="{{ nav.url }}"{% endif %}
            title="{{ nav.section }}"><span class="secondary badge"><i class="fa {{ nav.icon }}"></i></span></a>
        {% endfor %}
        <a href="#menu-bar" title="Go to top" data-smooth-scroll><span class="secondary badge"><i class="fa fa-arrow-up"></i></span></a>
      </p>
    </div>
    <div class="small-12 medium-4 columns">
      <p class="text-right">&#169; {{ site.time | date: '%Y' }} <strong>{{ site.author.name }}</strong>.<br />Website looking strange? <a href="https://www.whatbrowser.org" target="_blank">Update your browser.</a></p>
  </div>
</div>
