<meta property="og:title" content="{{ site.title }}" />
<meta name="author" content="{{ site.author.name }}" />
<meta property="og:locale" content="en_US" />
<link rel="canonical" href="{{ site.url }}/" />
<meta property="og:url" content="{{ site.url }}/" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property='og:image' content="{{ site.url }}{{ site.baseurl }}{{ site.logo }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter.username }}" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:creator" content="{{ site.twitter.username }}" />
<meta name="twitter:description" content="{{ site.author.description }}"/>
<meta name="twitter:image" content="{{ site.url }}{{ site.logo }}" />

<script type="application/ld+json">
{"name":"{{ site.title }}","description":null,"author":{"@type":"Person","name":"{{ site.author.name }}"},"@type":"WebSite","url":"{{ site.url }}/","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"{{ site.url }}{{ site.logo }}"},"name":"{{ site.author.name }}"},"image":null,"headline":"{{ site.title }}","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>
