---
layout: page
---
{% if page.thumbnail %}
<div class="tiny reveal" id="thumbnailmodal" data-reveal>
  <img src="/assets/images/{{ page.thumbnail }}" class="float-center"/>
  <button class="close-button" data-close aria-label="Close picture" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="row align-center">
  <div class="small-10 columns">
  <h2>
    {% if page.image %}
    <div class="thumbnail">
      <a data-open="thumbnailmodal">
        <img src="/assets/images/{{ page.image }}" style="width:35px; height:35px" />
      </a>
    </div>
    {% endif %}
    &nbsp;{{ page.title }}
  </h2>
  {{ content }}
  <p class="subheader text-right">Published on {{ page.date | date: "%A %-d %B %Y" }} by {% if page.author.name %}{{ page.author.name }}{% else %}{{ site.author.name }}{% endif %}</p>
  </div>
</div>
