{{ define "main" -}} {{ $image := resources.Get "images/icon512.avif" }}
<div class="bg-aqua pb-48 pt-32">
    <div
        class="items-center flex flex-wrap-reverse text-white max-w-[90rem] mx-auto gap-x-25"
    >
        <div class="flex-3 basis-150 m-4">
            <h1
                class="font-serif text-6xl/18 font-bold text-center md:text-left"
            >
                Hi, I am {{ .Site.Title }}.
            </h1>
            <p class="text-2xl mt-8 text-justify md:text-left">
                {{ .Site.Params.description }}
            </p>
            <p class="text-xl mt-4 text-justify md:text-left">
                I spend my 40 hours as a Cloud Consultant for Xebia, helping
                organizations across all industries kick-start their next
                project in Amazon Web Services. Whether your project is the next
                AI sensation, a high-throughput event-driven system or just a
                simple internal HR app, it needs a systems architect with an eye
                for security and an automation-first approach.
                <span class="font-bold">That's me.</span>
            </p>
        </div>
        <div class="flex-1 basis-80 m-8">
            <img
                class="mx-auto border-4 rounded-lg grayscale hover:filter-none active:filter-none transition duration-500"
                src="{{ $image.RelPermalink }}"
            />
        </div>
    </div>
</div>
<div class="max-w-7xl mx-auto pt-8">
    <h1 class="font-serif text-5xl/18 font-bold mb-8 m-4">Where to find me</h1>
    <div class="flex flex-wrap gap-4 m-4">
        {{ range .Site.Data.contact }}
        <div
            class="flex-1 text-center bg-gray-100 transition hover:bg-gray-200 p-4 rounded-sm basis-64"
        >
            <p class="text-xl">{{ .name }}</p>
            {{ if index .URL }}
            <a class="text-blue-500" href="{{ .URL }}">{{ .URL }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{- end }}
