{{ define "main" -}}
<div class="bg-aqua pb-48 pt-32">
    <div
        class="items-center flex flex-wrap-reverse text-white max-w-[90rem] mx-auto gap-x-25"
    >
        <div class="flex-3 basis-150 m-4">
            <h1
                class="font-serif text-6xl/18 font-bold text-center md:text-left"
            >
                Hi, I am {{ .Site.Title }}.
            </h1>
            <p class="text-2xl mt-8 text-justify md:text-left">
                {{ .Site.Params.description }}
            </p>
            <p class="text-xl mt-4 text-justify md:text-left">
                I spend my 40 hours as a Cloud Consultant for Xebia, helping
                organizations across all industries kick-start their next
                project in Amazon Web Services. Whether your project is the next
                AI sensation, a high-throughput event-driven system or just a
                simple internal HR app, it needs a systems architect with an eye
                for security and an automation-first approach.
                <span class="font-bold">That's me.</span>
            </p>
        </div>
        <div class="flex-1 basis-80 m-8 select-none">
            {{ $image := resources.Get "images/icon512.avif" }}
            <img
                class="mx-auto border-4 rounded-lg grayscale hover:filter-none active:filter-none transition duration-500"
                src="{{ $image.RelPermalink }}"
            />
        </div>
    </div>
</div>
<div class="max-w-7xl mx-auto pt-8 p-4">
    <h1 class="font-serif text-4xl/18 md:text-5xl/18 font-bold mb-8">
        What I'm working on.
    </h1>
    {{ range .Site.RegularPages -}}
    <article class="flex flex-wrap items-end">
        <div class="flex-auto">
            <h2 class="text-3xl">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </div>
        <div class="flex-initial">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="text-2xl text-gray-500">{{ .Date.Format "Jan 2, 2006" }}</time>
        </div>
        <div class="flex-auto my-4">
            {{ .Summary }}
        </div>
      {{ if .Truncated }}
      <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </article>
    {{- end }}
    <h1 class="font-serif text-4xl/18 md:text-5xl/18 font-bold mb-8">
        Where to find me.
    </h1>
    <div class="flex flex-wrap gap-4">
        {{ range .Site.Data.contact }}
        <div
            class="flex-1 text-center bg-gray-100 transition hover:bg-gray-200 p-4 rounded-sm basis-64"
        >
            {{ if index .URL }}
            <a href="{{ .URL }}" target="_blank">
                {{ end }}
                <svg
                    class="max-w-20 m-auto"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    transform=""
                >
                    <path d="{{ .icon }}"></path>
                </svg>
                <p class="text-xl">{{ .name }}</p>
                {{ if index .URL }}
            </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{- end }}
