<div id="footer">
  <div class="row align-middle">
    <div class="small-12 medium-4 columns">
      <p>Last updated: {{ site.time | date: '%d/%m/%Y %H:%M %Z'}}<br />View the source code on <a href="https://github.com/Eelviny/eelviny.me" target="_blank" title="View on Github">Github</a></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p class="text-center">
        {% for nav in site.data.nav %}
        <a href="{{ nav.url }}" title="{{ nav.section }}"><span class="secondary badge"><i class="fa {{ nav.icon }}"></i></span></a>
        {% endfor %}
        <a href="#" title="Go to top"><span class="secondary badge"><i class="fa fa-arrow-up"></i></span></a>
      </p>
    </div>
    <div class="small-12 medium-4 columns">
      <p class="text-right">&#169; {{ site.time | date: '%Y' }} <strong>{{ site.author.name }}</strong>.</p>
  </div>
</div>
