<div class="menu-bar bar-background">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <a href="/"><h1 class="white" style="font-size: 150%"><img src="/assets/images/icon64.png" width="25px" />  {{ site.title }}</h1></a>
    </div>
    <div class="small-12 medium-6 columns">
      <ul class="menu align-right">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
