<div class="menu-bar bar-background">
  <div class="row">
    <div class="small-6 columns">
      <a href="/"><h1 class="white" style="font-size: 150%"><img src="/assets/images/icon64.png" width="25px" />  {{ site.title }}</h1></a>
    </div>
    <div class="small-6 columns">
      <ul class="vertical medium-horizontal menu align-right">
        <li><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a href="/blog"><i class="fa fa-rss"></i> <span>Blog</span></a></li>
        <li><a href="/projects"><i class="fa fa-archive"></i> <span>Projects</span></a></li>
        <li><a href="/contact"><i class="fa fa-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </div>
  </div>
</div>
