---
layout: page
section: 'Blog'
permalink: '/blog/'
---
<div class="row columns">
  {% for post in site.posts %}
    <div class="media-object">
      <div class="media-object-section show-for-medium">
        <div class="thumbnail">
          <a href="{{ post.url }}"><img src="/assets/images/{%if post.thumbnail %}{{ post.thumbnail }}{% else %}icon256.png{% endif %}" style="width: 150px; height:150px;"></a>
        </div>
      </div>
      <div class="media-object-section main-section">
        <h4 class="subheader float-right">{{ post.date | date: "%-d %B %Y" }}</h4>
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <p class="text-justify">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&nbsp;<a href="{{ post.url }}">Read more <i class="fa fa-arrow-right"></i></a></p>
      </div>
    </div>
  {% endfor %}
</div>
