---
permalink: "/error"
layout: page
section: Error
---

<div class="row align-center">
  <div class="small-12 columns">
    <p class="text-center"><i class="fa fa-chain-broken fa-5x"></i></p>
    <h2 class="text-center">404 - Page not found</h2>
    <p class="text-center">This page doesn't exist! Perhaps you can find what you're looking for below.</p>
  </div>
  <div class="small-12 columns" style="padding-top: 4rem">
    <h2 class="text-center">Latest Posts</h2>
  </div>
  {% for post in site.posts limit:3 %}
  <div class="small-12 columns">
    <h4 class="subheader float-right">{{ post.date | date: "%-d %B %Y" }}</h4>
    <h3>
      <a href="{{ post.url }}">
        <div class="thumbnail show-for-medium">
          <img {%if post.image %}src="{{ post.image.url }}" alt="{{ post.image.alt }}"{% else %}src="/assets/images/icon64.png" alt="Site logo"{% endif %} style="width: 35px; height:35px;">
        </div>
        {{ post.title }}
      </a>
    </h3>
    <p class="text-justify">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&nbsp;<a href="{{ post.url }}">Read more <i class="fa fa-arrow-right"></i></a></p>
  </div>
  {% endfor %}
</div>

