---
layout: default
section: 'Home'
permalink: '/'
---
<div id="homepage">
  <div class="row align-center">
    <div class="small-12 medium-8 large-6 columns">
      <img class="float-center" src="/assets/images/icon512.png" height="200" width="200" />
      <h1 class="text-center white">Hi, I am {{ site.title }}.</h1>
      <p class="text-center">{{ site.description }}</p>
    </div>
  </div>
</div>

<div class="row align-middle align-center">
  <div class="small-12 medium-8 large-4 large-order-2 columns">
    <img src="/assets/images/elvin.jpg" />
  </div>
  <div class="small-12 large-8 large-order-1 columns">
    <div class="large-text-right">
       <p class="lead">Hello. My name is Elvin Luff, and you've reached my website. I'm a half English, half Dutch student studying Computing in whatever form I can. While I've only been around since 1997, I've had the opportunity to do a variety of amazing things that have provided valuable experience. Already I've experienced working alongside charities, running businesses and travelling across the world, and I can't wait to get my hands on the next thing that comes my way.</p>
       <p>Currently I'm a student in Sixth form, in the run up to my final exams. My future plans include working in the Netherlands, and using my savings to visit Australia and New Zealand.</p>
    </div>
    <div class="row">
      <div class="small-6 medium-4 columns" style="padding:20px">
        <p>Countries visited</p>
        <div class="stat">12</div>
      </div>
      <div class="small-6 medium-4 columns" style="padding:20px">
        <p>Projects run</p>
        <div class="stat">{{ site.data.project | size }}</div>
      </div>
      <div class="small-6 medium-4 columns" style="padding:20px">
        <p>Current age</p>
        <div class="stat">18</div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="latestpost">
  <div class="small-12 columns">
  <h3 class="text-center">Latest Post</h3>
  {% for post in site.posts limit:1 %}
    <div class="media-object">
      <div class="media-object-section show-for-medium">
        <div class="thumbnail">
          <a href="{{ post.url }}"><img src="/assets/images/{%if post.thumbnail %}{{ post.thumbnail }}{% else %}icon256.png{% endif %}" style="width: 150px; height:150px;"></a>
        </div>
      </div>
      <div class="media-object-section main-section">
        <h4 class="subheader float-right">{{ post.date | date: "%-d %B %Y" }}</h4>
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <p class="text-justify">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&nbsp;<a href="{{ post.url }}">Read more <i class="fa fa-arrow-right"></i></a></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
