---
layout: page
section: 'Projects'
permalink: '/projects/'
---
<div class="row columns">
  <p style="padding-bottom: 50px">Here you'll find every past and present project that I've worked on. Some might no longer be running, but it allows you to take a look at the history of my work! My projects vary depending on my interests, so there should be something to amuse any like-minded person.</p>
</div>
<div class="row">
  {% for item in site.data.project %}
  <div class="small-12 large-6 columns">
    {% if item.link %}
    <a href="{{ item.link }}"><img id="{{ item.id }}" class="float-center" src="/assets/images/{{ item.image }}" /></a>
    {% else %}
    <img class="float-center" src="/assets/images/{{ item.image }}" />
    {% endif %}
    <h2>{{ item.name }}</h2>
    <h3 class="subheader">{{ item.subtitle }}</h3>
    <p class="text-justify">{{ item.description }}
      {% if item.link %}
      <a href="{{ item.link }}">Go take a look <i class="fa fa-arrow-right"></i></a>
      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>
