---
layout: page
section: 'Projects'
permalink: '/projects/'
---
<div class="row columns">
  <p style="padding-bottom: 50px">Here you'll find every past and present project that I've worked on. Some might no longer be running, but it allows you to take a look at the history of my work! My projects vary depending on my interests, so there should be something to amuse any like-minded person.</p>
</div>
<div class="row">
  {% for project in site.projects %}
  <div id="{{ project.title | slugify }}" class="small-12 large-6 columns text-justify">
    {% if project.link %}
    <a href="{{ project.link }}"><img class="float-center" src="{{ project.image.url }}" alt="{{ project.image.alt }}" /></a>
    {% else %}
    <img class="float-center" src="{{ project.image.url }}" alt="{{ project.image.alt }}" />
    {% endif %}
    {{ project.content }}
    {% if project.link %}
    <a class="small button float-right" href="{{ project.link }}">Take a look <i class="fa fa-arrow-circle-right"></i></a>
    {% endif %}
  </div>
  {% endfor %}
</div>
